body{
    background-color: brown;
}
h1{
    text-align: center;
    margin-top: 200px;
    color: white;
}
.quote_block{
    width: 40%;
    background-color: white;
    color: brown;
    margin: auto;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
}
button{
    margin-top: 15px;
    border: none;
    background-color: brown;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
}
#author{
    font-weight: bold;
    font-style: italic;
    font-family: tahoma;
}